---
---

@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$text-color: white;

$gradient-color-a: #50D3CF;
$gradient-color-b: #005632;

$bg-color: white;
$bg-highlight-color: white;
$bg-dark-color: white;
$fg-color: white;
$fg-inverted-color: white;
$fg-text-color: white;
$highlight-color: white;

$document-color: #dddb46;
$gmail-color: #dd4b39;
$linkedin-color: #0073a4;
$twitter-color: #00aced;
$github-color: #6cc644;
$medium-color: #00ab6c;

$title-fonts: 'Muli', sans-serif;
$subtitle-fonts: 'Muli', sans-serif;
$body-fonts: 'Muli', sans-serif;

html {
  height: 100%;
}

body {
  background: linear-gradient(top, $gradient-color-a 6%, $gradient-color-b 100%);
  background: -webkit-linear-gradient(top, $gradient-color-a 6%, $gradient-color-b 100%);
  background: -moz-linear-gradient(top, $gradient-color-a 6%, $gradient-color-b 100%);
  background: -o-linear-gradient(top, $gradient-color-a 6%, $gradient-color-b 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: $body-fonts;
  color: $text-color;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.hero {
  margin-left: 5%;
  margin-top: 5%;
  h1 {
    font-size: 50px;
    margin-top: 0;
  }
  h3 {
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    text-align: left;
    font-size: 26px;
  }
  a {
    color: $text-color;
    margin: 20px;
  }
  i {
    padding: 10px;
    border: 2px solid $text-color;
    border-radius: 50%;
  }
  .hero-actions {
    position: relative;
    margin-top: 20px;
  }
}

span.cursor {
  font-size: 35px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@media (max-width: 768px) {
  .hero {
    h1 {
      font-size: 34px;
    }
    h3 {
      font-size: 28px;
    }
    span {
      font-size: 22px;
    }
    .hero-actions {
      i {
        font-size: 22px;
      }
      a {
        margin: 5px;
      }
      text-align: center;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1% 0 1% 0;
}

ul {
  padding: 0;
  list-style: none;
}

.fa {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.fa-linkedin {
  @extend .fa;
  &:hover {
    background-color: $linkedin-color;
  }
}

.fa-twitter {
  @extend .fa;
  &:hover {
    background-color: $twitter-color;
  }
}

.fa-github {
  @extend .fa;
  &:hover {
    background-color: $github-color;
  }
}

.fa-medium {
  @extend .fa;
  &:hover {
    background-color: $medium-color;
  }
}

.fa-envelope {
  @extend .fa;
  &:hover {
    background-color: $gmail-color;
  }
}

.fa-file-text {
  @extend .fa;
  &:hover {
    background-color: $document-color;
  }
}

.hero {
  //background: url('https://webdev.acm.jhu.edu/assets/laptop.png') center bottom no-repeat;
  padding-bottom: 190px;
}

.hero-group, .hero-actions {
  display: flex;
  justify-content: center;
}

.hero-headshot {
  max-height: 200px;
  width: 200px;
  display: block;
  border-radius: 100%;
  border: 3px solid $bg-highlight-color;
  margin-right: 1rem;
}

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-heading {
  color: $bg-highlight-color;
  font: normal 2rem/3rem $title-fonts;
  //text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.hero-subheading {
  color: $highlight-color;
  font: normal 1.5rem/2rem $subtitle-fonts;

  em {
    color: white;
  }
}